torch
torchvision
torchaudio
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tqdm
wandb
six
wget
submitit
beautifulsoup4
Pillow
requests
setuptools
wheel
nltk
spacy
keybert
graphviz
sentence-transformers
openai
transformers
datasets
evaluate
