torch>=1.8
matplotlib
seaborn
scipy
numpy
pandas
tqdm
tqdm-multiprocess
dill
word2number
zstandard
zeno
zeno-client
transformers>=4.1
accelerate>=0.21.0
datasets>=2.14.0
evaluate>=0.4.0
jsonlines
numexpr
peft>=0.2.0
pybind11>=2.6.2
pytablewriter
rouge-score>=0.0.4
sacrebleu>=1.5.0
scikit-learn>=0.24.1
sqlitedict
pytest
pytest-cov
pytest-xdist
pycountry
pre-commit
mypy
auto-gptq
hf-transfer
langdetect
immutabledict
optimum
optimum-neuron
optimum-openvino
sympy>=1.12
nagisa>=0.2.7
jieba>=0.42.1
wandb>=0.16.3
tiktoken
sentencepiece>=0.1.98
protobuf>=4.22.1
anthropic
openai>=1.3.9
antlr4-python3-runtime>=4.11
Wikipedia-API
arxiv
keybert
